.header {
    width: 100%;
    box-sizing: border-box;
    height: 12vh;
}

.title {
    font-weight: 400;
    font-size: 1.7em;
    width: 100vw;
    text-align: center;
    color: white;
}

h1 {
    color: white;
}

.AddEquipoButton {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    font-size: 2em;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}